@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Azeret Mono;
   }

/* header section starts here */

.header-container{
    max-width: 1440px;
    margin: 0 auto;
    min-height: 652px;
    margin-top: 131px;
    margin-bottom: 74px;
    background-image: url(assets/Hero-bg.png);
    background-position: cover;
    background-size: cover;
}

.header-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container{
    width: 240.28px;
    height: 240px;
    margin-top: 26px;
    margin-bottom: 32px;
}

.text-container h1{
    width: 998px;
    height: 136px;
    margin-left: 221px;
    margin-right: 221px;
    align-items: center;
    color: rgb(13, 19, 33);
    font-size: 38px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
}

.text-container p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin-left: 73px;
    margin-right: 73px;
    margin-bottom: 32px;
    line-height: 26px;
    text-align: center;
}

.contact-button{
    width: 208px;
    height: 66px;
    margin-left: 395px;
    margin-right: 395px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main section start here */

.content-button{
    width: 150px;
    height: 48px;
}
.main-content{
    max-width: 1140px;
    min-height: 1395px;
    margin: 0 auto;
    background-position: cover;
    background-size: cover;
}

.inside-main-content{
    max-width: 946px;
    min-height: 1235px;
    margin: 0 auto;
    margin-top: 80px;
    background-position: cover;
    background-size: cover;
}

.text-description{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    width: 852px;
    height: 115px;
    margin-left: 47px;
    margin-right: 47px;
}

.text-description h2{
    width: 852px;
    height: 39px;
    align-items: center;
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
} 

.text-description p{
    max-width: 852px;
    min-height: 52px;
    margin-top: 24px;
}
/* second part of main section start here */
.second-div{
    max-width: 850px;
    min-height: 240px;
    margin: 0 auto;
    margin-top: 48px;
    display: flex;
}

.second-div-content{
    max-width: 477px;
    max-height: 220px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 99.77px;
}

.second-div-content h2{
    margin-right: 87px;
    margin-bottom: 16px;
    text-align: left;
}

.second-div-content p{
    width: 468px;
    height: 52px;
    margin-right: 9px;
    margin-bottom: 32px;
}

.second-div-content button{ 
    width: 150px;
    height: 48px;
} 

.second-div-picture{
    width: 259.56px;
    height: 217.01px;
}

/* third part of main section start here */

.third-div-content{
    max-width: 850px;
    min-height: 240px;
    margin: 0 auto;
    margin-top: 128px;
    margin-bottom: 128px;
    display: flex;
}

.thrit-div-picture{
    width: 223.2px;
    height: 208.85px;
    margin-bottom: 31.5px;
}

.third-div-text{
    max-width: 477px;
    min-height: 220px;
    margin: 10px 101px 10px 48.8px;
}

.third-div-text h2{
    width: 477px;
    height: 72px;
    margin-bottom: 16px;
}

.third-div-text p{
    width: 468px;
    height: 52px;
    margin-bottom: 32px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;   
}

/* fourth div start here */

.fourth-div-content{
    max-width: 850px;
    min-height: 240px;
    margin: 0 auto;
    margin-top: 48px;
    display: flex;
}

.fourth-div-text{
    width: 477px;
    height: 240pxpx;
    margin-right: 149.8px;
}

.fourth-div-text h2{
    width: 390px;
    height: 72px;
    margin-bottom: 16px;
}

.fourth-div-text p{
    width: 468px;
    height: 52px;
    margin-bottom: 32px;
}

.last-content{
    width: 852px;
    height: 113px;
    align-items: center;
    margin: 0 auto;
    margin-top: 48px;
}

.last-content h2{
    width: 852px;
    height: 37px;
    margin-bottom: 24px;
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    align-items: center;
}

.last-content p{
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
}

.video-container{
    width: 1076px;
    height: 550px;
    margin-top: 32px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

.current-target{
    max-width: 1140px;
    min-height: 460px;
    margin-top: 151px;
    margin: 0 auto;
    align-items: center;
}

.target-text{
    max-width: 946px;
    min-height: 113px;
    margin-left: 97px;
    margin-right: 97px;
    margin-bottom: 47px;
}

.target-text h3{
    width: 852px;
    height: 37px;
    margin-bottom: 24px;
    text-align: center;
}

.target-text p{
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.skill-container{
    display: flex;
    gap: 24px;
}

.skill{
    width: 364px;
    height: 299px;
    padding: 40px;
    border-radius: 5px;
    
}

.skill-bga{
    background: rgba(255, 76, 30, 0.05);
}

.skill-bgb{
    background: rgba(0, 76, 232, 0.05);
}

.skill-bgc{
    background: rgba(255, 223, 0, 0.05);
}

.text-arrangement{
    width: 284px;
height: 219px;
align-items: flex-start;
}

.img-position{
    width: 56px;
height: 56px;
margin: 24px 0px;
}

.heading-arrangement{
    width: 284px;
height: 36px;
margin-bottom: 8px;
color: rgb(13, 19, 33);
font-size: 24px;
font-weight: 800;
line-height: 36px;
text-align: left;
}

.skill-description{
    width: 284px;
height: 52px;
margin-bottom: 24px;
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
}

.link-click{
    width: 284px;
height: 19px;
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 700;
line-height: 19px;
text-align: left;
text-decoration-line: underline;
}

/* footer section styling */

.footer-start{
    width: 1140px;
    height: 313px;
    margin: 0 auto;
    border-radius: 16px;
    background-image: url(assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 49px;
}

.footer-info-container{
    width: 1044px;
    height: 185px;
    margin: 64px 48px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer-info-container h2{
    width: 292px;
    height: 36px;
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}

.footer-info-container p{
    width: 606px;
    height: 52px;
    color: rgb(255, 255, 255);
    opacity: 0.7;
    margin-bottom: 24px;
font-size: 13px;
font-weight: 400;
}


.feedback-input {
    width: 548px;
    height: 57px;
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);
}

.feedback-input::placeholder {
    color: rgba(13, 19, 33, 0.4);
font-size: 16px;
font-weight: 400;
line-height: 19px;
padding-left: 15px;
  }

.feedback-button {
    width: 120px;
    height: 57px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.open-commitment{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 36px;
    margin-top: 32px;
    margin: 0 auto;
    box-sizing: border-box;
}

.open-commitment h4{
    width: 456px;
    height: 23px;
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}






