@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Azeret Mono;
   }

/* header section starts here */

.header-container{
    max-width: 1440px;
    margin: 0 auto;
    min-height: 652px;
    margin-top: 131px;
    border: 2px solid red;
    background-image: url(assets/Hero-bg.png);
    background-position: cover;
    background-size: cover;
}

.header-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container{
    width: 240.28px;
    height: 240px;
    margin: 26px;
}